/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0;
  min-height: 100%;
  margin: 8% 4% 0% 5%;
}

/** =====================================
    Text color
    ===================================*/

navbar>ul>li>a,
navbar a:hover,
navbar a:visited,
.name,
.connexion,
.connexion>a,
.publish,
.secondFooter, .partners, .copyrights {
  color: white;
}

/** =====================================
    NAVBAR
    ===================================*/

navbar {
  display: inline-flex;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgb(245, 107, 42);
  font-family: cursive;
  top: 0px;
  left: 0px;
}

.name {
  font-size: 25px;
  margin: 1% 0% 1% 10%;
}

navbar>ul {
  display: inline-flex;
}

navbar>ul>li {
  list-style-type: none;
}

navbar>ul>li>a {
  font-family: "OpenSansSemiBold", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

navbar a:hover {
  text-decoration: underline;
}

.connexion,
.name {
  display: flex;
  align-items: center;
}

.connexion {
  width: 90px;
  margin-left: 20%;
  border-style: none solid none solid;
  border-width: 1px;
}

.connexion>a {
  text-decoration: none;
}

/** Middle content */

.middleContent {
  display: flex;
  margin: 8% 4% 0% 5%;
}

.buttons {
  width: 33.33%;
}

.map {
  align-items: center;
}

.departments {
  text-align: right;
  color: blue;
  width: 33.33%;
}

.departments a {
  text-decoration: none;
}

.navbar>ul {
  list-style: none;
}

.publish,
.search {
  border-radius: 4px;
}

.publish {
  border: none;
  background-color: blue;
  padding: 10px 80px;
}

.search {
  margin-top: 20px;
  color: blue;
  background-color: rgb(255, 255, 255);
  padding: 10px 65px;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}

.description {
  display: flex;
  flex-basis: 100%;
  text-align: center;
}

/** FOOTER */

.footer {
  color: #6879C9;
  background-color: #F2F2F2;
}

.footer,
.secondFooter {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
}

.secondFooter {
  padding: 15px 5px 0px 5px;
  background-color: #494949;
  color:
}

.footer-content {
    background-color: #494949;
    padding: 2rem;
}

.secondFooter,
.partners, .copyrights {
  background-color: #494949;
}

.firstCol,
.secondCol,
.thirdCol,
.fourthCol,
.about,
.informations,
.pro,
.questions, .appli {
  flex-grow: 1;
  flex-shrink: 1;
}

.footer h3, .secondFooter h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  border-bottom: 1px solid #d1d1d1;
  margin: 0 15px 0 0;
}

.footer p, .secondFooter p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.appli img {
    margin: 2%;
}

.partners {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
}

.copyrights {
    padding-top: 1rem;
}

select .select {
    width: 100px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
